.code-block-caption {
   font-weight: 600;
}

.literal {
   background-color: #fafafa;
   padding-top: 2px;
   padding-right: 5px;
   padding-bottom: 2px;
   padding-left: 5px;
}

.admonition.important {
   border-left-color: #37c8ab;
}

.admonition.important .admonition-title {
    background-color: #d7f4ee;
}

.admonition.important .admonition-title::before {
    color: #37c8ab;
}
